.about {
  background-color: #f9f9f9; /* Adjusted to match bg-beige-100 */
  padding: 20px;
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
}

.title {
  color: #333333; /* Changed to charcoal */
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.about-content, .hobbies-list, .education, .interests, .goals {
  background-color: #ffffff; /* Changed to white */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.hobby-title, .education-title, .interests-title, .goals-title, .about-title {
  color: #333333;
  text-align: center;
  margin-top: 20px;
  font-size: 1.5em;
}

.hobbies-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.hobby-icon, .section-icon {
  color: #A8C69F; /* pastel-green */
  margin-right: 10px;
  vertical-align: middle;
  font-size: 1.2em;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .about-content, .hobbies-list, .education, .interests, .goals {
    padding: 15px;
  }

  .hobby-icon, .section-icon {
    font-size: 1em;
  }
}
