.about {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Arial', sans-serif; /* Example font */
}

.title {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em; /* Larger font for title */
}

.about-content, .hobbies-list, .education, .interests, .goals {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Spacing between sections */
}

.hobby-title, .education-title, .interests-title, .goals-title, .about-title {
  color: #333;
  text-align: center;
  margin-top: 20px;
  font-size: 1.5em; /* Consistent font size for subtitles */
}

.hobbies-list {
  list-style-type: none;
  padding: 0;
  text-align: center; /* Centering list items */
}

.hobby-icon, .section-icon {
  color: #007bff;
  margin-right: 10px;
  vertical-align: middle; /* Align icons with text */
  font-size: 1.2em; /* Uniform icon size */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .about-content, .hobbies-list, .education, .interests, .goals {
    padding: 15px;
  }

  .hobby-icon, .section-icon {
    font-size: 1em;
  }
}
